<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DMWSSoap"
                 maxReceivedMessageSize="20000000" 
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000"/>
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://per.nl:8008/DMWS.asmx" binding="basicHttpBinding"
            bindingConfiguration="DMWSSoap" contract="webservice.DMWSSoap"
            name="DMWSSoap" />
      </client>
    </system.serviceModel>
</configuration>
